* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1a98ff;
}

h1, h2 {
    font-family: 'Anton', sans-serif;
    text-align: center;
    margin-bottom: 15px;
}

#title-div {
    margin-bottom: 40px;
}

h3 {
    font-family: 'Fira Sans Condensed', sans-serif;
}
/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px;
}

#logo {
    font-family: 'Anton', sans-serif;
    font-size: 25px;
}

#logo-smile {
    width: 100px;
}

#btn-connection, #btn-register, #btn-deconnection {
    background: white;
    padding: 10px;
    border-radius: 5px;
    color: #1976D2;
    cursor: pointer;
    font-family: 'Fira Sans Condensed', sans-serif;
    text-decoration: none;
    box-shadow: 1px 0 0 #1976D2,0 1px 0 #1976D2,
    3px 2px 0 #1976D2,3px 2px 0 #1976D2;
}

#btn-connection:hover, #btn-register:hover {
    background: #1a98ff;
    border: 1px solid white;
    color: white;
    transition: 0.2s ease-in;

}

.container-score {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.clicker-section {
    display: flex;
}

.container-recap {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
/* BUTTONS */

.btnClicker {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 5px;
    background: white;
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    color: #1976D2;
    box-shadow: 1px 0 0 #1976D2,0 1px 0 #1976D2,
    6px 5px 0 #1976D2,6px 5px 0 #1976D2;
}

.btnClicker:active {
    transition: margin-top 0.3s ease;
    margin-left: 0.3s ease;
    box-shadow: 0.3s ease;
    margin-left:9px;
    box-shadow: 0px 0px 0px #1976D2;
    border: 1px solid #1976D2;
}

.button-shop {
    padding: 8px;
    background: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 1px 0 0 #1976D2,0 1px 0 #1976D2,
    6px 5px 0 #1976D2,6px 5px 0 #1976D2;
}

.button-shop:active{
    transition: margin-top 0.3s ease;
    margin-left: 0.3s ease;
    box-shadow: 0.3s ease;
    margin-left:9px;
    box-shadow: 0px 0px 0px #1976D2;
    border: 1px solid #1976D2;
}

.button-shop:hover{
    background: #1a98ff;
    transition: 200ms ease-in;
}

.btn-shop-item {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

#score {
    font-family: "Fira Sans", sans-serif !important;
    font-size: 25px;
}

/* BUTTONS COMMANDS */

.btnCommands, #btn-deconnection {
    background: white;
    padding: 10px;
    margin: 0 10px;
    font-size: 18px;
    border: 1px solid white;
    border-radius: 5px;
    color: #1976D2;
    cursor: pointer;
    font-family: 'Fira Sans Condensed', sans-serif;
    text-decoration: none;
    box-shadow: 1px 0 0 #1976D2,0 1px 0 #1976D2,
    3px 2px 0 #1976D2,3px 2px 0 #1976D2;
}

.btnCommands:active, #btn-deconnection:active{
    transition: margin-top 0.3s ease;
    margin-left: 0.3s ease;
    box-shadow: 0.3s ease;
    margin-left:9px;
    box-shadow: 0px 0px 0px #1976D2;
    border: 1px solid #1976D2;
}

/* DIV FORM */

#form-register, #form-connection{
     display: flex;
     flex-direction: column;
}

#form-register, #form-connection{
    display: flex;
    flex-direction: column;
}
.div-form {
    display: flex;
    justify-content: center;
}

label {
    font-family: 'Fira Sans', sans-serif;
}
#password, #login {
    padding: 7px;
    margin-bottom: 12px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid aliceblue;
}

.register_form_button, #connect_form_button {
    padding: 10px;
    width: 150px;
    font-size: 13px;
    margin: 0 10px;
    background: #1a98ff;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    cursor: pointer;
    align-self: center;
    font-family: 'Fira Sans Condensed', sans-serif;
}

#bonus-register, #bonus-connection {
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.8rem;
    margin-top: 10px;
}
#underline-connection, #underline-register {
    text-decoration: underline;
}

#registerSuccess {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: #c40101;
}
/* CLICKER CONTAINER */
.clicker-section {
    display: flex;
    justify-content: center;
}
/* SECTION SHOP */
.shop-section {
    display: flex;
    justify-content: center;
    width: 800px;
    margin: 10px auto;
    padding: 10px;
    border: 2px rgba(255, 255, 255, 0.59) dashed;
    border-radius: 5px;
    position: relative;
}

/* SHOP ITEM */
.shop-item {
    width: 350px;
    padding: 10px;
}


/* DESCRIPTION SHOP */
.description-shop {
    font-family: 'Fira Sans Condensed', sans-serif;
}

/* COMMANDS */

.game-commands {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
/* REGLES */
.connect {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    font-family: 'Fira Sans', sans-serif;
}
.container-regles {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.regles {
    text-align: justify;
    font-family: 'Fira Sans', sans-serif;
    line-height: 1.5rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    border: 2px rgba(255, 255, 255, 0.59) dashed;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    padding: 20px;
}

p {
    margin-bottom: 10px;
}
